google-genai
typer
requests
numpy
scipy
pytest
pytest-cov
coverage
sphinx
sphinx-book-theme
sphinx-copybutton
sphinxcontrib-mermaid
nbsphinx
jupyterlab
jupytext
pandoc
gemseo-mma>=4.0.0
# FEniCS dependencies are usually handled via Conda, but listed here for completeness
# fenics-dolfin
# fenics-dolfin-adjoint
# gemseo
# nlopt
