google-genai
typer
requests
numpy
scipy
pytest
sphinx
sphinx-book-theme
sphinx-copybutton
sphinxcontrib-mermaid
nbsphinx
jupyterlab
jupytext
pandoc
# FEniCS dependencies are usually handled via Conda, but listed here for completeness
# fenics-dolfin
# fenics-dolfin-adjoint
# gemseo
# nlopt
